*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a
{
    text-decoration: none;
}
img{
    width: 100%;
}
.container{

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 10%;
}
.container .part{
    padding-bottom:50px;
}
.container .left.part{
    border-right:1px solid rgba(128, 128, 128, 0.259);
    padding-right:10%;
    padding-bottom:100px;

}
.container .right.part{
    padding-left:10%;
}

.head{
    position: relative;
    display: flex;
    justify-content: center;
    height: 100px;
    overflow: hidden;
    align-items: center;
}
.head h2{
    font-size: 50px;
    text-transform: uppercase;
}
.head .bg{
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(20%);
    z-index: -1;
}
.group-input{
    margin-top:20px;
    display:flex;
    flex-direction: column;
    gap:10px;
}
.group-input .title-input{
    display: flex;
    justify-content: space-between;
}
.group-input input,.group-input select{
    outline: none;
    height: 40px;
    padding-left: 10px;
    border:1px solid rgba(0, 0, 0, 0.162);
    border-radius: 5px;
}
.group-input.name{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.group-input .check{
    height: 20px;
}

.group-input.check div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.box-select{
    margin-top: 30px;
}

.box-select .items{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    padding:10px;
}
.box-select .items.active{
    background: #00000014;
}
.box-select .items:hover{
    background: #00000014;
}
.box-select .main{
    margin-top: 10px;
    border: 1px solid #0000003f;
    border-radius: 5px;
}
.box-select .check{
    display: flex;
    align-items: center;
    gap:10px;
} 

.list-order-detail{
    display: flex;
    flex-direction: column;
    gap:30px;
    margin-top: 50px;
}
.list-order-detail .items{
    cursor: pointer;
    align-items: center;
    display: flex;
    gap:10px;
}
.list-order-detail .items:hover{
    background: #00000003;
}
.list-order-detail .items .des{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.442);
}
.list-order-detail .items .img{
    position:relative;
    border:1px solid rgba(0, 0, 0, 0.138);
    border-radius: 5px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    padding: 3px;
}

.list-order-detail .items .img .quantity{
    z-index: 100;
    position: absolute;
    top:0;
    right:0;
    background: #00000027;
    width: 15px ;
    height: 15px;
    display: flex;
    align-items: center;
    border-radius: 10rem;
    justify-content: center;
    font-size: 10px;
}
.list-order-detail .items .price{
    flex: 1;
    text-align: right;
}

.reduce-code{
    gap:10px;
    display: flex;
    width: 100%;
}

.reduce-code button{
    padding-inline: 20px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.256);
}

.reduce-code input{
    flex: 1;
    outline: none;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.256);
    padding-left: 10px;

}
.right.part .main .total .item {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.btn-confirm-order{
    width: 100%;
    padding: 10px;
    background: black;
    color:white;
    font-weight: 200;
    cursor: pointer;
    text-transform:capitalize;
    font-size: 16px;
    border: 1px solid #000;
    margin-top: 30px;
    border-radius: 5px;
}
.btn-confirm-order:hover{
    opacity: .8;
}
.copyright{
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.223);
    margin-top: 40px;
}
.group-input.address input{
    cursor: pointer;
}
.body-address.active{
    display: flex;
}
.body-address{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #00000058;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.space-close{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    z-index: -1;
    cursor: pointer;
    left: 0;

}
.body-address .main{
    position: relative;
    width: 50%;
    background: white;
    padding:5%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.311);
}
.body-address .main label{
    font-size: 12px;
}
.body-address .main .close{
    position: absolute;
    top:10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.group-input.submit input{
    cursor: pointer;
}